.navbar .menu-items {
    max-height: 100vh; /* ne dépasse jamais la hauteur de l’écran */
    overflow-y: auto;  /* permet le scroll vertical si le contenu dépasse */
}


.navbar .menu-items {
    max-height: 100vh;
    overflow-y: auto;
    scrollbar-width: thin;         /* pour Firefox */
    scrollbar-color: #999 #eee;    /* couleur de la barre */
}

/* Pour Chrome, Edge, etc. */
.navbar .menu-items::-webkit-scrollbar {
    width: 6px;
}
.navbar .menu-items::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 3px;
}
.navbar .menu-items::-webkit-scrollbar-track {
    background: #eee;
}





*{
    box-sizing: border-box;
    margin: 0;
} 
body, html{
  overflow-x: hidden;
}
body{
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container {
    max-width: 1050px;
    width: 100%; /*  avant 90% */
    margin: auto;
}

.navbar {
    width: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

.navbar .menu-items {
    display: flex;
}

.navbar .nav-container li {
    list-style: none;
}

.navbar .nav-container a {
    text-decoration: none;
    /* color: #0e2431; */
    color: white; /* changement*/
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
    display: block;
    position: relative;
    height: 60px;
}

.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    right: 20px; 
    opacity: 0;
    cursor: pointer;
    z-index: 10001;
}

.nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    right: 20px;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10000;
}

.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    /* background: #0e2431; */
    background: white; /*changement*/
}

.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 120px;
    /* box-shadow: inset 0 0 2000px black; */
    background: black;/*changement*/
    color: white;
    height: 100vh;
    width: 70%;
    transform: translate(100%); /*valeur initiale de translate(-150%)*/
    display: flex;
    flex-direction: column;
    /*margin-right: -40px; changement de margin-left en margin-right*/
    padding-top: 120px;
    padding-right: 30px; /*changement de padding-left en padding-right*/
    transition: transform 0.5s ease-in-out;
    text-align: center;
    z-index: 9999;
}

.navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
}

.logo {
    position: absolute;
    top: 5px;
    left: 15px;   /*changement de right en left*/
    font-size: 1.2rem;
    color: #0e2431;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
}
header{
    position: sticky;
    top: 0;
    margin-bottom: 0; 
    background: black;
}
.footer-div, .page{
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}
footer{
    background-color: #0e2431;
    color: white; 
    padding: 15px 10px 0 10px;
}
footer form input, footer form button{
    border-radius: 7px;
    height: 30px;
    width: 70%;
    border: #0e2431 solid 0px;
    margin-bottom: 20px;
}
footer form button{
    /* background-color: #4444ebe6; */
    background-color: #4552c6;
}
footer form input{
    padding-left: 20px;
}
.page, .icons{
    display: flex;
    flex-wrap: wrap;
    gap: 10px 70px;
    justify-content: center;
    margin: 20px 0 20px 0;
}
.page a, .icons a{
    text-decoration: none;
    color: rgb(197, 193, 193);
}
.page a:hover{
    color: rgb(162, 178, 192);
}
h1{
    font-size: 20px;
}
h2, p{
    font-size: 15px;
}

.main{ 
    margin: 5px 5px 30px 5px;
}
.icone{
    position: absolute;
    right: 70px;
}
.icone img, .don-fixe{
    height: 35px;
    width: 35px;
}
.don-class{
    align-items: center;
    background-color: whitesmoke;
    border-radius: 15px;
    margin: 0 15px 0px 15px;   
}
.don-class button{
    font-size: large;
    background-color: #4444ebe6;
    border: 0px solid black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    /* margin-left: 20px; */
}
.don-class p{
    font-size: larger;
    font-weight: bold;
    color: #4444ebe6;
    /* padding: 20px 20px 0 20px; */
}
.don-class button, .don-class p{
    margin: 10px 10px 0 20px;
}
.don-class img{
    width: 100%;
    height: 200px;
    margin-top: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.don-fixe{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.don-fixe img{
    position: fixed;
}
.don-class{
    display: none;
}
footer:last-child{
    text-align: center;
}
em{
    text-decoration: underline;
    font-style: normal;
}
@media screen and (min-width: 768px) {
    .don-class{
    display: none;
    }
    .footer-div{
        display: flex;
        /* text-align: center; */
        /* align-items: center; */
        justify-content: center;
        gap: 20px;
    }
    footer form input{
        height: 30px;
        width: 200px;
        /* margin-bottom: 20px; */
    }
    footer form button{
        width: 150px;
    }
    .don-class img{
        width: 300px;
        height: 100%;
    
    }
    .don-class{
        display: flex;
        flex-direction: row-reverse;
        margin: 0 150px 0 150px;
    }
    .don-class p{
        margin-top: 0;
        font-size: 25px;
    }
    .don-class img{
        margin-top: 0;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 0;
    }
}